# Supabase Configuration
VITE_SUPABASE_URL=https://ovpsfqsvwmtzxglxrceg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92cHNmcXN2d210enhnbHhyY2VnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExNTk3NTIsImV4cCI6MjEwNjczNTc1Mn0.gKj4Ng7QkH2pTfw7MHxiseBSKKZEyT5j_6O4ATfeTlw
